
<h2 style="font-size: 30px;">{$d->$name_col}</h2>

<div class="view-content">
    <div>
        <article  xmlns="https://www.w3.org/1999/html">
            <div class="col-md-12 col-lg-12 col-xs-12" style="border-top: 1px solid rgb(238, 238, 238);padding-bottom:10px;">
                <div style="padding-left: 0px;">
                    <h3>{$month}/{$year}</h3>
                </div>
            </div>
        </article>
    </div>
</div>