{block content}

<!-- about section -->


<section class="about text-center" id="about">
    <div class="container">
        <div class="row">
            {include ../Dataset/dataset-categories.latte}

            {if $locale == 'sk'}
                <div class="menu-right col-xs-8 ">
                    <h2>Podmienky použitia - opendata portál mesta Bratislava</h2>

                    <p>Portál „www.opendata.bratislava.sk“  slúži na podporu otvorených dát mesta Bratislavy. </p>
                    <p>Prevádzkovatelia portálu poskytujú informácie a údaje v strojovo čitateľnej forme na ďalšie využitie, ktoré je vďaka štandardizovaným a transparentným podmienkam používania zjednodušené a jasné aj pre širokú verejnosť.  Autori portálu OpenData Bratislava sa zaväzujú k skutočnosti, že všetok obsah, ktorým prispievajú na tento portál vytvárajú podľa svojho najlepšieho vedomia. Autori a prevádzkovatelia portálu môžu prakticky ľubovoľný obsah kedykoľvek zmeniť, aktualizovať alebo vymazať. Obsah portálu je spoločný, otvorený a bez priamej redakčnej podpory. Aktuálnosť, úplnosť a správnosť obsahu portálu (najmä dátových záznamov) nie je garantovaná. </p>
                    <p>Práca Magistrátu hlavného mesta SR Bratislavy ako aj obsah portálu OpenData Bratislava podlieha Licencii <span class="right-text-link"><a href="https://creativecommons.org/choose/" target="_blank">Creative Commons Attribution 4.0 international</a>.</p>

                    <h3>Dodatky k licencii</h3>
                    <ul>
                        <li>Pomenovanie mesta Bratislava ako držiteľa autorských práv sa musí vykonať takto: "Zdroj údajov: Mesto Bratislava - https://opendata.bratislava.sk/" </li>
                        <li>Populácia by mala byť informovaná o nových aplikáciách a službách, ktoré využívajú údaje z tejto platformy. Mesto Bratislava je oprávnené zverejňovať informácie o takýchto aplikáciách a službách a používať ich na účely informovania verejnosti.</li>
                        <li>Podľa všeobecných pravidiel platí, že údaje a informácie z tejto platformy nesmú byť použité na aplikácie alebo publikácie, ktoré podporujú alebo podnecujú trestné, nezákonné, rasistické, diskriminačné, urážlivé, pornografické, sexistické alebo homofóbne aktivity. </li>
                        <li>Bezvýhradne sa uznáva, že rozhranie nebude k dispozícii v prípade technických problémov alebo potrebnej údržby. Všetky informácie k tejto službe a z tejto služby sú poskytované bez akejkoľvek záruky a zodpovednosti. </li>
                    </ul>

                    <h3>Legislatíva</h3>
                    <ul>
                        <li>Zákon o slobodnom prístupe k informáciám<br><span class="right-text-link"><a href="http://www.minv.sk/?zakon-o-slobodnom-pristupe-k-informaciam" target="_blank">http://www.minv.sk/?zakon-o-slobodnom-pristupe-k-informaciam</a></span></li>
                        <li>Osobitné zákony k citlivým, utajovaným a osobným údajom<br><span class="right-text-link"><a href="http://ideme.net/wp-content/uploads/sites/2/Janesova_Ochrana_iDEME2018.pdf" target="_blank">http://ideme.net/wp-content/uploads/sites/2/Janesova_Ochrana_iDEME2018.pdf</a></span></li>
                        <li>Autorský zákon<br><span class="right-text-link"><a href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2015/185/20190101" target="_blank">https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2015/185/20190101</a></span></li>
                        <li>Zákon o informačných systémoch verejnej správy<br><span class="right-text-link"><a href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2006/275/20190101" target="_blank">https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2006/275/20190101</a></span></li>
                        <li>Výnos Ministerstva financií SR č. 55/2014 o štandardoch pre informačné systémy verejnej správy<br><span class="right-text-link"><a href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2014/55/" target="_blank">https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2014/55/</a></span></li>
                        <li>Zákon o údajoch (plánový v zmysle Uznesenia vlády SR č. 104/2017)<br><span class="right-text-link"><a href="https://rokovania.gov.sk/RVL/Resolution/16300/1" target="_blank">https://rokovania.gov.sk/RVL/Resolution/16300/1</a></span></li>
                        <li>Národná koncepcia informatizácie verejnej správy Slovenskej republiky <br><span class="right-text-link"><a href="http://www.informatizacia.sk/narodna-koncepcia-informatizacie-verejnej-spravy--2016-/22662c" target="_blank">http://www.informatizacia.sk/narodna-koncepcia-informatizacie-verejnej-spravy--2016-/22662c</a></span></li>
                        <li>Strategická priorita Otvorené údaje<br><span class="right-text-link"><a href="http://www.informatizacia.sk/strategicke-priority-erf/24190c" target="_blank">http://www.informatizacia.sk/strategicke-priority-erf/24190c</a></span></li>
                        <li>Strategická priorita Manažment údajov<br><span class="right-text-link"><a href="http://www.informatizacia.sk/strategicke-priority-erf/24190c" target="_blank">http://www.informatizacia.sk/strategicke-priority-erf/24190c</a></span></li>
                        <li>Stratégia a akčný plán sprístupnenia a používania otvorených údajov verejnej správy (Uznesenie vlády SR č. 346/2017)<br><span class="right-text-link"><a href="https://www.slovensko.sk/_img/CMS4/eDemokracia/MOD/Prezentacia_NASES_Strategia_346_2017.pdf" target="_blank">https://www.slovensko.sk/_img/CMS4/eDemokracia/MOD/Prezentacia_NASES_Strategia_346_2017.pdf</a></span></li>
                        <li>Akčný plán Iniciatívy pre otvorené vládnutie v Slovenskej republike na roky 2017 –2019 (Uznesenie vlády SR č. 104/2017)<br><span class="right-text-link"><a href="https://www.minv.sk/swift_data/source/rozvoj_obcianskej_spolocnosti/otvorene_vladnutie/akcne_plany/2017_2019/OGP_AP_2017-2019_final.pdf" target="_blank">https://www.minv.sk/swift_data/source/rozvoj_obcianskej_spolocnosti/otvorene_vladnutie/akcne_plany/2017_2019/OGP_AP_2017-2019_final.pdf</a></span></li>
                        <li>Koncepcia riadenia informatizácie verejnej správy<br><span class="right-text-link"><a href="http://www.informatizacia.sk/ext_dok-koncepcia_riadenia_informatizacie_schvalena/26031c " target="_blank">http://www.informatizacia.sk/ext_dok-koncepcia_riadenia_informatizacie_schvalena/26031c </a></span></li>
                        <li>Aktualizovaná metodika projektového riadenia projektov informatizácie<br><span class="right-text-link"><a href="http://www.informatizacia.sk/ext_dok-aktualizovana_metodika_projektoveho_riadenia_schvalena/26029c " target="_blank">http://www.informatizacia.sk/ext_dok-aktualizovana_metodika_projektoveho_riadenia_schvalena/26029c </a></span></li>
                        <li>Tallinnská deklarácia o eGovernmente<br><span class="right-text-link"><a href="https://ec.europa.eu/newsroom/document.cfm?doc_id=47559 " target="_blank">https://ec.europa.eu/newsroom/document.cfm?doc_id=47559 </a></span></li>
                    </ul>
                </div>
            {elseif $locale == 'en'}
                <div class="menu-right col-xs-8 ">
                    <h2>Terms of use - opendata portal of the city of Bratislava</h2>
                    <p>The portal “https://opendata.bratislava.sk/” serves to promote open data of the city of Bratislava.</p>
                    <p>The authors of OpenData Bratislava portal provide information and data in machine-readable format for further use. Standardised and transparent terms of use are intended to simplify the use of the data to the general public. Portal authors are committed to creating all the contributed content to the best of their knowledge. The authors of the portal can change, update or delete virtually any content at any time. The content of the portal is common, open and without direct editorial support. The timeliness, completeness and correctness of the content of the portal (especially data records) is not guaranteed.</p>
                    <p>The work of the City of Bratislava and the content of the OpenData Bratislava portal are subject to the Creative Commons Attribution 4.0 international license.</p>

                    <h3>License Additions</h3>
                    <ul>
                        <li>The designation of the City of Bratislava as the copyright holder must be as follows: City of Bratislava. (Year, Month Date Published). Title of data set. Retrieved from URL. [Date accessed: ]</li>
                        <li>The public should be informed about new applications and services that use data from this platform. The City of Bratislava is authorized to publish information on such applications and services and to use them for the purpose of informing the public.</li>
                        <li>As a general rule, data and information from this platform may not be used for applications or publications that support or encourage criminal, illegal, racist, ableist, discriminatory, offensive, pornographic, sexist, transphobic or homophobic activities.</li>
                        <li>The portal interface will not be available in case of technical problems or necessary maintenance. All information on and from this service is provided without any warranty or liability.</li>
                    </ul>

                    <h3>Applicable legislation and Other Relevant Documents</h3>
                    <ul>
                        <li>Freedom of Information Act<br><span class="right-text-link"><a href="http://www.minv.sk/?zakon-o-slobodnom-pristupe-k-informaciam" target="_blank">http://www.minv.sk/?zakon-o-slobodnom-pristupe-k-informaciam</a></span></li>
                        <li>Specific laws on sensitive, classified and personal data<br><span class="right-text-link"><a href="http://ideme.net/wp-content/uploads/sites/2/Janesova_Ochrana_iDEME2018.pdf" target="_blank">http://ideme.net/wp-content/uploads/sites/2/Janesova_Ochrana_iDEME2018.pdf</a></span></li>
                        <li>Copyright Act<br><span class="right-text-link"><a href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2015/185/20190101" target="_blank">https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2015/185/20190101</a></span></li>
                        <li>Act on Public Administration Information Systems<br><span class="right-text-link"><a href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2006/275/20190101" target="_blank">https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2006/275/20190101</a></span></li>
                        <li>Decree of the Ministry of Finance of the Slovak Republic no. 55/2014 on standards for public administration information systems<br><span class="right-text-link"><a href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2014/55/" target="_blank">https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2014/55/</a></span></li>
                        <li>Data Act (planned according to Government Resolution No. 104/2017)<br><span class="right-text-link"><a href="https://rokovania.gov.sk/RVL/Resolution/16300/1" target="_blank">https://rokovania.gov.sk/RVL/Resolution/16300/1</a></span></li>
                        <li>National concept of public administration informatisation of the Slovak Republic<br><span class="right-text-link"><a href="http://www.informatizacia.sk/narodna-koncepcia-informatizacie-verejnej-spravy--2016-/22662c" target="_blank">http://www.informatizacia.sk/narodna-koncepcia-informatizacie-verejnej-spravy--2016-/22662c</a></span></li>
                        <li>Open Data strategic priority<br><span class="right-text-link"><a href="http://www.informatizacia.sk/strategicke-priority-erf/24190c" target="_blank">http://www.informatizacia.sk/strategicke-priority-erf/24190c</a></span></li>
                        <li>Strategic Priority Data Management<br><span class="right-text-link"><a href="http://www.informatizacia.sk/strategicke-priority-erf/24190c" target="_blank">http://www.informatizacia.sk/strategicke-priority-erf/24190c</a></span></li>
                        <li>Strategy and action plan for availability and usage of open data of public administration (Government Resolution No. 346/2017)<br><span class="right-text-link"><a href="https://www.slovensko.sk/_img/CMS4/eDemokracia/MOD/Prezentacia_NASES_Strategia_346_2017.pdf" target="_blank">https://www.slovensko.sk/_img/CMS4/eDemokracia/MOD/Prezentacia_NASES_Strategia_346_2017.pdf</a></span></li>
                        <li>Action Plan of the Initiative for Open Governance in the Slovak Republic for 2017–2019 (Government Resolution No. 104/2017)<br><span class="right-text-link"><a href="https://www.minv.sk/swift_data/source/rozvoj_obcianskej_spolocnosti/otvorene_vladnutie/akcne_plany/2017_2019/OGP_AP_2017-2019_final.pdf" target="_blank">https://www.minv.sk/swift_data/source/rozvoj_obcianskej_spolocnosti/otvorene_vladnutie/akcne_plany/2017_2019/OGP_AP_2017-2019_final.pdf</a></span></li>
                        <li>The concept of management of public administration informatisation<br><span class="right-text-link"><a href="http://www.informatizacia.sk/ext_dok-koncepcia_riadenia_informatizacie_schvalena/26031c " target="_blank">http://www.informatizacia.sk/ext_dok-koncepcia_riadenia_informatizacie_schvalena/26031c </a></span></li>
                        <li>Updated project management methodology for informatisation projects<br><span class="right-text-link"><a href="http://www.informatizacia.sk/ext_dok-aktualizovana_metodika_projektoveho_riadenia_schvalena/26029c " target="_blank">http://www.informatizacia.sk/ext_dok-aktualizovana_metodika_projektoveho_riadenia_schvalena/26029c </a></span></li>
                        <li>Tallinn Declaration on eGovernment<br><span class="right-text-link"><a href="https://ec.europa.eu/newsroom/document.cfm?doc_id=47559 " target="_blank">https://ec.europa.eu/newsroom/document.cfm?doc_id=47559 </a></span></li>
                    </ul>
                </div>
            {/if}
        </div>

</section><!-- end of about section -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        /*$('#sidebarCollapse').on('click',function(){
            $('#sidebar').toggleClass('active');
        });*/

    });
</script>
</div>
